.post-img{
    height: 404px;
    overflow: hidden;
}
.post-img img{
    width: 100%;
}
.blog-post-content{
    /* background-color: red; */
    


}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.row{
    display: flex;
}
.more-post{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}
.blogpost-meta{
    display: flex;
    justify-content: space-between;
}
.author-info div{
    padding: 4px 0;
    font-family: var(--font2);


}
.author-info{
    margin: 12px 0;

}
.social img{
    height: 40px;
    width: 40px;
    opacity: 0.9;
    
}
.social{
    align-self: center;
    cursor: pointer;
}