/* .contact-content{

} */
.contact-content {
    height: 100vh;

    
    /* background-color: rgb(183, 209, 201); */
    display: block;
    margin-top: 32px;
    padding: 9px;

    position: relative;
    overflow: hidden;
    


}

.contact-content::after {
    content: "";
    background-image: url(/image/Mobile-hand_759-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.8;
    z-index: -1;

}
.contact-form{

}